*.image
*.changes
*.log
*.sources
*.dmp
*.zip

methodProperties.json
**/monticello.meta/version

CONFIG

pharo
pharo-ui
pharo-vm/


pharo-local/
epicea-sessions/
github-cache/
package-cache/
iceberg-cache/
play-cache/

bootstrap-cache/

github--*.zip
